In [2]:
import types
import numpy
from google.colab import drive
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [ ]:
name = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/name.tsv',sep='\t')

In [21]:
name.describe()

           nconst  primaryName  ... primaryProfession knownForTitles
count    11167901     11167901  ...           8775849       11167901
unique   11167901      8688426  ...             20467        4615299
top     nm4262381  David Smith  ...             actor             \N
freq            1          337  ...           1994852        2097460

[4 rows x 6 columns]

In [48]:
name.dtypes

nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtype: object

In [49]:
title_akas = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/title-akas.tsv', sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
title_akas.describe()

           ordering
count  2.880982e+07
mean   3.980033e+00
std    3.370708e+00
min    1.000000e+00
25%    2.000000e+00
50%    3.000000e+00
75%    6.000000e+00
max    1.640000e+02

In [51]:
title_akas.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

In [3]:
title_basics = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/title-basics.tsv', sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
title_basics.describe()

           tconst  titleType  primaryTitle  ...  endYear  runtimeMinutes   genres
count     8199964    8199964       8199955  ...  8199964         8199964  8199954
unique    8199964         13       3930397  ...       96             850     2290
top     tt6128022  tvEpisode  Episode #1.1  ...       \N              \N    Drama
freq            1    6009498         40501  ...  8119059         5887850   879586

[4 rows x 9 columns]

In [5]:
title_basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [6]:
title_crew = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/title-crew.tsv', sep='\t')

In [7]:
title_crew.describe()

           tconst directors  writers
count     8197156   8197156  8197156
unique    8197156    823877  1131160
top     tt6128022        \N       \N
freq            1   3467308  4019904

In [8]:
title_crew.dtypes

tconst       object
directors    object
writers      object
dtype: object

In [9]:
title_episode = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/title-episode.tsv', sep='\t')

In [10]:
title_episode.describe()

           tconst parentTconst seasonNumber episodeNumber
count     6006953      6006953      6006953       6006953
unique    6006953       161737          366         15682
top     tt0530582    tt0058796            1            \N
freq            1        14313      2994651       1217109

In [11]:
title_episode.dtypes

tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtype: object

In [13]:
title_principals = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/title-principals.tsv', sep='\t')

In [14]:
title_principals.describe()

           ordering
count  4.639165e+07
mean   4.570866e+00
std    2.776151e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    7.000000e+00
max    1.000000e+01

In [15]:
title_principals.dtypes

tconst        object
ordering       int64
nconst        object
category      object
job           object
characters    object
dtype: object

In [12]:
title_rating = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB/title-rating.tsv', sep='\t')

In [31]:
title_rating.describe()

       averageRating      numVotes
count   1.181931e+06  1.181931e+06
mean    6.916676e+00  9.730684e+02
std     1.397246e+00  1.627353e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.100000e+00  2.300000e+01
75%     7.900000e+00  9.100000e+01
max     1.000000e+01  2.448445e+06

In [32]:
title_rating.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object